.top-navbar {
    padding: 0 32px;
    height: 60px;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 70px;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    /* gap: 8px; */
}

.nav-links li {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: #5e80be;
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #3a558d;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: #3a558d;
    font-weight: 600;
    transition: text-decoration-color 0.2s, text-underline-offset 0.2s;
}

.nav-links a.active {
    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: 700;
    color: #3a558d;
    text-decoration-color: #3a558d;
    transition: text-decoration-color 0.2s, text-underline-offset 0.2s;
}