<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Acceuil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/top-navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bottom-navbar.css') }}">
</head>

<body>
    {% include 'top-navbar.html' %}

    <h1>Bureau des Étudiant·e·s de l'EPL</h1>

    <div class="description">
        <img class="description-logo" src="{{ url_for('static', filename='images/logo-color.svg') }}" alt="Logo du BDE">
        <p class="description-text">Le Bureau des Étudiant·e·s (BDE) est une organisation étudiante composée principalement de délégués. L'EPL ne possédait plus de BDE depuis très longtemps, et nous sommes ravis de relancer cette initiative cette année (année académique 2025-2026) ! Pour nos débuts nous avons regroupé nos objectifs sous trois missions principales.</p>
    </div>

    <div class="missions">
        <h2>Nos missions</h2>
        <div class="mission" id="missions-1">
            <h3>Représentation</h3>
            <p>Etablir le contact entre les étudiant·e·s et les différentes instances et organisations de la faculté et de l'université (académiques et extra-académique).</p>
        </div>
        <div class="mission" id="missions-2">
            <h3>Cohésion</h3>
            <p>Renforcer les liens entre les étudiants en promouvant les différentes aides et activités accessibles aux étudiant·e·s et en apportant des outils aux organisations étudiantes.</p>
        </div>
        <div class="mission" id="missions-3">
            <h3>Recrutement</h3>
            <p>Promouvoir le rôle de délégué·e, informer sur les différentes instances de la faculté et apporter de l'aide et des outils aux délégués afin de faciliter leur travail.</p>
        </div>
    </div>

   {% include 'bottom-navbar.html' %}
</body>

</html>