<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Acceuil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body class="main">
    <!-- Top navbar -->
    <div class="top">
        <!-- Return button -->
        <a href="/home" id="return-button">Acceuil</a>

        <a href="/members" id="return-button">Membres</a>
    </div>

    <div class="home">
        <h1 id="main-title">Bureau des étudiants</h1>
    </div>

    <div class="bottom">
        <a href="/privacy">Politique de confidentialité</a>
        <a href="/terms">Conditions d'utilisation</a>

        <p id="footer">Ce site est entièrement open-source sous licence <a href="https://github.com/Piwy-dev/bde-epl-site/blob/main/LICENSE"> GNU General Public License v3.0</a>.
            <a href="https://github.com/Piwy-dev/bde-epl-site">voir sur GitHub</a>.
        </p>
    </div>
</body>

</html>