<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Politique confidentialité</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body class="main">
    <!-- Top navbar -->
    <div class="top">
        <a href="/home" id="return-button">&#x2B05; Acceuil</a>
    </div>

    <div class="privacy">
        <h1>Politique de confidentialité</h1>
        <p>
            🕖 <b> Dernière modification:</b> 24 octobre 2024.
        </p>

        <p>
            Cette politique de confidentialité concerne le site web du BDE de l'EPL.
        </p>

        <h2>1. Ce que nous collectons</h2>
        <p>
            Le présent site ne collecte aucune données personnelles. Pour vous renseinger sur ce que sont les données
            personnelles, vous pouvez consulter <a
                href="https://www.inami.fgov.be/fr/professionnels/info-pour-tous/reglement-general-sur-la-protection-des-donnees-rgpd">le
                site de l'INAMI</a>.
        </p>
        <h2>2. Nous contacter</h2>
        <p>
            Pour tout autre renseignement, vous pouvez nous contacter <a
                href="mailto:bde-epl-request@listes-student.uclouvain.be">cette adresse</a>.
        </p>
    </div>

    <div class="bottom">
        <a href="/privacy">Politique de confidentialité</a>
        <a href="/terms">Conditions d'utilisation</a>

        <p id="footer">Ce site est entièrement open-source sous licence <a href="https://github.com/Piwy-dev/bde-epl-site/blob/main/LICENSE"> GNU General Public License v3.0</a>.
            <a href="https://github.com/Piwy-dev/bde-epl-site">voir sur GitHub</a>.
        </p>
    </div>
</body>

</html>